extends layout2

block content
        .editProject
            h2 Edit Project
            ul.errors
                if errors
                    each error, i in errors
                        li.alert.alert-danger #{error.msg}
            form(method='post', action='/admin/edit/#{row.id}', enctype='multipart/form-data')
                .form-group
                    label Title
                    input.form-control(type='text', name='title', value='#{row.title}')
                .form-group
                    label Description
                    textarea.form-control(name='description' value='#{row.description}')
                .form-group
                    label Service
                    input.form-control(type='text', name='service' value='#{row.service}')
                .form-group
                    label Client
                    input.form-control(type='text', name='client' value='#{row.client}')
                .form-group
                    label project Image
                    input.form-control(type='file', name='projectimage' value='#{row.image}')
                .form-group
                    label Date
                    input.form-control(type='date', name='projectdate')
                button.btn.btn-primary(type='submit') Submit